<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <footer class="grid grid-cols-12 bg-gray-900 text-white py-4">
        <div class="col-start-4 col-span-6">
            <h1>Built with Node.js</h1>
        </div>
    </footer>
</body>
</html>
