<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"> <!-- Tailwind CSS -->
    <title>LMS APP</title>
</head>
<body>
     <header class="bg-blue-600 py-6">
        <div class="container mx-auto flex justify-between items-center px-4">
            <h1 class="text-white text-3xl font-semibold"><%= title %></h1>
            <nav>
                <a href="/signout" class="text-white hover:underline">Sign Out</a>
            </nav>
        </div>
    </header>
</body>
</html>
