<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header class="grid grid-cols-12 bg-gray-200 text-gray-800 py-4">
        <div class="col-start-4 col-span-6">
            <h1 class="text-2xl font-semibold text-gray-600">LMS APP</h1>
            
        </div>
    </header>
</body>
</html>
