<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="csrf-token" content="<%= csrfToken %>">
  <title><%= title %></title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
  <%- include('header.ejs') %>

  <div class="container mx-auto flex flex-col justify-center items-center py-16">

    <h1 class="text-4xl font-bold text-black mb-4">Welcome to Best Learning Platform  </h1>

    <p class="text-lg font-semibold text-gray-700 mb-8">Empowering your learning journey to new heights!</p>

    <div class="flex flex-col space-y-4">
      <a href="/signup" class="text-red-500 hover:underline">Ready to Explore? Sign-up now</a>
      <a href="/login" class="text-red-500 hover:underline">Already have an account? Sign-in</a>
    </div>

  </div>

  <%- include ('footer.ejs') %>

</body>

</html>
